body {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding-top: 15em;
}

* {
  color: #fff;
  text-decoration: none;
}

.typewrite {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 21px;
}

.typewrite > .wrap {
  color: #FFB733; /* Set the typing color to #FFB733 */
}

.blink {
  animation: blink-caret 0.75s steps(1) infinite;
}


.typewrite > .wrap.ip {
  color: #000; /* Color for the IP address */
}
